/* CSS PAGINA CARRINHO--------------------------------------------------------*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color:#fcfcfc
}


/* --INICIO NAVBAR 1--*/
.navbar-top {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
    font-size: 16px;
    text-transform: uppercase;
    background: linear-gradient(45deg, brown, black, brown,brown);
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    outline: none;
    margin-left: 30px;
}

@keyframes degrade {
    0%{
        background-position-x: 0%;
    }

    100%{
        background-position: 400%;
    }
}

.icons {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-right: 30px;
}

.icons img {
  width: 18px;
  height: 18px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icons img:hover {
    transform: scale(1.1); 
}

.icons a{
    text-decoration: none;
}

.linha{
    border-top: 1px solid #F7F7F7
}
/*responsive*/
/* Media Query para telas menores */
@media (max-width: 768px) { 
    .logo h2 {
        font-size: 14px; 
        margin-left: 15px;
    }

    .icons img {
        width: 14px;
        height: 14px;
    }

    .navbar-top {
        height: 50px;
        padding: 0 15px;
    }

    .icons {
        gap: 10px;
    }
}
/* --FIM NAVBAR 1--*/

/* -- INICIO SECTION CARRINHO-- */
.cart_container {
    padding: 20px 400px 20px 400px;
    margin-bottom: 80px;
    display: flex;
}

.btn_area {
    text-align: right; /* Alinha os botões à direita */
}

.btn_area a {
    text-decoration: none; /* Alinha os botões à direita */
}

.btn_area button{
    background-color: brown;
    width: 150px;
    height: 40px;
    font-size: 16px;
    color: #ffffff;
    border: none;
    border-radius: 50px;
}
.btn_area button:hover{
    cursor: pointer;
    transform: scale(1.01);
    background-color: black;

}
#finalize{
    font-weight: 600;
}
.cart_item {
    display:flex;
    justify-content:space-between;
    margin-top: 20px;
    padding:20px 0;
}
.cart_item img{
    width: 115px;
}
.titulo-cart h2{
    color: brown;
    font-size: 23px;
    margin-top: 30px;
    margin-bottom: 20px;
    
}
.cart_item p{
    font-size: 20px;
    margin-top: 30px;
   font-weight: 400;
}

.cart_item span, .qtd_price_area span{
    font-size: 20px;
    margin-top:5px;
    font-weight: 500;
    
}

.cart_item_container {
    display:flex;
    align-items: center;
}

.cart_item_container i{
    cursor: pointer;
}

.cart_item_container i:hover{
    color: brown;
}

.cart_container h2{
    color: brown;
    margin-bottom: 30px;
}

.cart_item_container input{
    margin:0px;
    width: 35px;
    color: brown;
    font-weight: 600;
}

.cart_item_container input, .cart_item_container span, .qtd_price_area span{
    margin-right:30px;
}

.qtd_price_area {
    text-align: right;
    padding: 30px 0;
    border-top: 1px solid;
}

.qtd_price_area span{
    margin-right:54px;
}

#address_form {
    margin: 0 auto;
    width: 800px;
    display:flex;
    flex-direction: column;
    justify-content:center;

}

.about_us {
    padding: 10px 72px;
}

.about_us h1{
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
    text-align:center;
    padding-bottom: 50px;

}

.about_us p{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 20px;

}

.contact_us {
    display:flex;
    padding: 10px 72px;
    justify-content: center;
        column-gap: 60px;
}

#contact_us {
        display: flex;
        flex-direction:column;
}

select {
    font-size: 15px;
  }

input {
    font-size: 15px;
}
/* -- FIM SECTION CARRINHO-- */

/* LINE */

.linha-separadora {
  border: none;
  border-top: 1px solid #efefef;
  width: 90%;
  margin: 20px auto;
}


/* --INICIO FOOTER-- */
.row{
	display: flex;
	flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}
ul{
	list-style: none;
}
.footer{
    padding: 40px 10px;
}
.footer-col{
   padding: 0 35px;
}
.footer-col h4{
	font-size: 16px;
    font-weight: 600;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: brown;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 14px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #a7a7a7;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #000000;
	padding-left: 8px;
}
.footer-col .social-links2 a{
	font-size: 20px;
    cursor: pointer;
    display: inline-block;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 50px;
	color:#a7a7a7;
	transition: all 0.5s ease;
    text-decoration: none;
}
.footer-col .social-links2 a:hover{
	color: brown;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/*--FIM FOOTER--*/
