/*CSS PAGINA DE LOGIN -----------------------------------------------------*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color:#fcfcfc;
}

/* --INICIO NAVBAR 1--*/
.navbar-top {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
    font-size: 16px;
    text-transform: uppercase;
    background: linear-gradient(45deg, brown, black, brown,brown);
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    outline: none;
    margin-left: 30px;
}

@keyframes degrade {
    0%{
        background-position-x: 0%;
    }

    100%{
        background-position: 400%;
    }
}

.icons {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-right: 30px;
}

.icons img {
  width: 18px;
  height: 18px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icons img:hover {
    transform: scale(1.1); 
}

.icons a{
    text-decoration: none;
}

.linha{
    border-top: 1px solid #F7F7F7
}
/*responsive*/
/* Media Query para telas menores */
@media (max-width: 768px) { 
    .logo h2 {
        font-size: 14px; 
        margin-left: 15px;
    }

    .icons img {
        width: 14px;
        height: 14px;
    }

    .navbar-top {
        height: 50px;
        padding: 0 15px;
    }

    .icons {
        gap: 10px;
    }
}
/* --FIM NAVBAR 1--*/

/* -- INICIO TELA LOGIN -- */
.box-mc{
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 8%;
    width: 100%;
}

.container-mc{
    width: 350px;;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #fff;
    padding: 0px 30px;
    box-shadow: 1px 5px 7px 1px rgba(105, 105, 105, 0.2);
}

.login{
   font-weight: 600;
   text-align: center;
   font-size: 20px;
   margin-top: 10px;
   margin-bottom: 5px;
}

.login-sub-title{
    font-size: 16px;
    font-weight: 200;
    color: black;
    margin-bottom: 30px;
}

.title-field{
    color: #910000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.input-field{
    width: 100%;
}

.input-mc1{
    height: 45px;
    width: 95%;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 14px;
    padding: 0 0 0 15px;
    outline: none;
    margin-bottom: 10px;
    background-color:#F7F7F7;
}

::-webkit-input-placeholder{
    color: #C0C0C0;
    font-size: 14px;
}

.submit{
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color:#910000;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0,0,0, 0.2);
    background-color: black;
}

.two-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:brown;
    font-size: small;
    margin-top: 10px;
}

.one{
    display: flex;
}

label a{
    text-decoration: none;
    color: #fff;
}

/* responsive */
@media (max-width: 600px) {

    .box-mc {
        padding: 20px 0;
        height: auto;
        min-height: 90vh;
    }

    .container-mc {
        width: 70%;
        padding: 30px 20px;
        height: 10%;
        margin-bottom: 30px;  
    }

    .login-sub-title{
        font-size: 14px;
        font-weight: 200;
        color: black;
        margin-bottom: 30px;
    }
}

/* -- FIM TELA LOGIN -- */

/* LINE */

.linha-separadora {
  border: none;
  border-top: 1px solid #efefef;
  width: 90%;
  margin: 20px auto;
}


/* --INICIO FOOTER-- */
.row{
	display: flex;
	flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}
ul{
	list-style: none;
}
.footer{
    padding: 40px 10px;
}
.footer-col{
   padding: 0 35px;
}
.footer-col h4{
	font-size: 16px;
    font-weight: 600;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: brown;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 14px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #a7a7a7;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #000000;
	padding-left: 8px;
}
.footer-col .social-links2 a{
	font-size: 20px;
    cursor: pointer;
    display: inline-block;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 50px;
	color:#a7a7a7;
	transition: all 0.5s ease;
    text-decoration: none;
}
.footer-col .social-links2 a:hover{
	color: brown;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/*--FIM FOOTER--*/

.pag_login{
    background-color: #F7F7F7;
}