/* CSS PAGINA HOME--------------------------------------------------------*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color:#fcfcfc
}

/* --INICIO NAVBAR 1--*/
.navbar-top {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
    font-size: 16px;
    text-transform: uppercase;
    background: linear-gradient(45deg, brown, black, brown,brown);
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    outline: none;
    margin-left: 30px;
}

@keyframes degrade {
    0%{
        background-position-x: 0%;
    }

    100%{
        background-position: 400%;
    }
}

.icons {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-right: 30px;
}

.icons img {
  width: 18px;
  height: 18px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icons img:hover {
    transform: scale(1.1); 
}

.icons a{
    text-decoration: none;
}

.linha{
    border-top: 1px solid #F7F7F7
}
/*responsive*/
/* Media Query para telas menores */
@media (max-width: 768px) { 
    .logo h2 {
        font-size: 14px; 
        margin-left: 15px;
    }

    .icons img {
        width: 14px;
        height: 14px;
    }

    .navbar-top {
        height: 50px;
        padding: 0 15px;
    }

    .icons {
        gap: 10px;
    }
}
/* --FIM NAVBAR 1--*/

/*--INICIO SECTION--*/

/* section 1*/
section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 30%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid brown;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
    cursor: pointer;
}

.nav-manual .manual-btn:hover{
    background-color: brown;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: brown;
    cursor: pointer;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}


/* fim banner*/


/* section 1*/

.hero{
    width: 100%;
    height: 70px;
    min-height: 600px;
    margin-left: 90px;
    margin-top: 7px;
    display: flex;
}
.hero-text h1{
    margin-top: 140px;
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
    margin-right: 200px;
}
.hero-text h3{
    font-size: 25px;
    font-weight: bold;
    color: brown;
    margin-right: 200px;
}
.hero-text p{
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.9;
    margin-top: 30px;
    margin-right: 500px;
    margin-bottom: 40px;
}
.hero-img img{
    margin-top: 80px;
    height: 400px;
    margin-right: 250px;
}
.hero-img img:hover{
    transform: scale(1.10);
    cursor: pointer;
}
.hero-text button{
    margin-top: 30px;
    font-size: 16px;
    color: #fff;
    background-color: brown;
    width: 140px;
    height: 30px;
    border: none;
    border-radius: 90px;
    cursor: pointer;
}
.hero-text button:hover{
    color: #fff;
    background-color: black;
    cursor: pointer;
    transform: scale(1.01);
    
}
/* fim section 1*/

/* section 2 */
.hero2{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.hero2-text{
    height: 90px;
}
.hero2-text h2{
    font-size: 35px;
}
.hero2-text p{
    font-size: 20px;
    margin-top: 10px;
}
.hero2-img{
    height: 290px;
    margin-top: 30px;
}
.hero2-img img{
    width: 220px;
    margin-left: 1px;
}
.hero2-img img:hover{
    cursor: pointer;
    transform: scale(1.14);
}
.button-s2{
    height: 10px;
}
.button-s2 button{
    font-size: 18px;
    color: #fff;
    background-color: brown;
    width: 270px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 60px;
    cursor: pointer;
}
.button-s2 button:hover{
    color: #fff;
    transform: scale(1.01);
    background-color: black;
}
/* fim section 2 */

/* section 3 */
.hero3{
    width: 100%;
    height: 600px;
    padding: 0% 7%;
    margin-top: 100px;
    position: relative;
    display: flex;
    background-color: brown;
}
.hero3-text{
    color: #fff;
    margin-top: 150px;
    margin-right: 200px;
    margin-left: 80px;
}
.hero3-text h2{
    font-size: 30px;
    line-height: 1.9;
    margin-top: 10px;
    margin-right: 10px;
}
.hero3-text p{
    font-size: 16px;
    line-height: 1.9;
    margin-bottom: 25px;
    margin-top: 20px;
    margin-right: 200px;
}
.hero3-img img{
    margin-top: 80px;
    height: 400px;
    cursor: pointer;
}
.hero3-img img:hover{
    transform: scale(1.10);
    cursor: pointer;
}
.hero3-text button{
    color: #fff;
    background-color: transparent;
    width: 260px;
    height: 30px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 60px;
    cursor: pointer;
}
.hero3-text button:hover{
    color: brown;
    background-color: floralwhite;
    transform: scale(1.070);
}
/* fim section 3 */

/* section 4 */
.hero4{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 130px;
}
.hero4-text{
    height: 100px;
}
.hero4-text h2{
    font-size: 35px;
}
.hero4-text p{
    font-size: 20px;
    margin-top: 10px;
}
.hero4-img{
    height: 270px;
    margin-top: 30px;
}
.hero4-img img{
    width: 220px;
    margin-left: 1px;
}
.hero4-img img:hover{
    transform: scale(1.10);
    cursor: pointer;
}
.button-s4{
    height: 10px;
}
.button-s4 button{
    margin-top: 12px;
    font-size: 16px;
    color: #fff;
    background-color: brown;
    width: 300px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 60px;
    cursor: pointer;
}
.button-s4 button:hover{
    color: #fff;
    transform: scale(1.01);
    background-color: black;
}
/* fim section 4 */

/* section 5 */
.hero5{
    width: 100%;
    height: 600px;
    padding: 0% 7%;
    margin-top: 100px;
    position: relative;
    display: flex;
    background-color: brown;
}
.hero5-text{
    color: #fff;
    margin-top: 160px;
    margin-right: 180px ;
}
.hero5-text h2{
    font-size: 30px;
    line-height: 1.9;
    margin-top: 10px;
}
.hero5-text p{
    font-size: 16px;
    line-height: 1.9;
    margin-bottom: 25px;
    margin-top: 20px;
}
.hero5-img img{
    margin-top: 80px;
    margin-right: 290px;
    height: 470px;
    cursor: pointer;
}
.hero5-img img:hover{
    transform: scale(1.10);
    cursor: pointer;
}
.hero5-text button{
    color: #fff;
    background-color: transparent;
    width: 260px;
    height: 30px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 60px;
    cursor: pointer;
}
.hero5-text button:hover{
    color: brown;
    background-color: floralwhite;
    transform: scale(1.070);
}
/* fim section 5 */

/* section 6 */
.hero6{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 100px;
}
.hero6-text{
    height: 100px;
}
.hero6-text h2{
    font-size: 35px;
}
.hero6-text p{
    font-size: 20px;
    margin-top: 10px;
}
.hero6-img{
    height: 220px;
    margin-top: 30px;
}
.hero6-img img{
    width: 200px;
    padding: 10px;
    margin-left: 1px;
}
.hero6-img img:hover{
    cursor: pointer;
    transform: scale(1.10);
}
/* fim section 6 */
.hero2-img, .hero4-img, .hero6-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*--FIM SECTION--*/



/* --INICIO FOOTER-- */
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: black;
    padding: 40px 100px;
}
.footer-col{
   width: 22%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: brown;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links2 a{
	font-size: 22px;
    margin-left: 20px;
    transition: 0.5s ease;
    cursor: pointer;
    display: inline-block;
	height: 50px;
	width: 50px;
	background-color: black;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	color:#bbbbbb ;
	transition: all 0.5s ease;
    text-decoration: none;
}
.footer-col .social-links2 a:hover{
	color: brown;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/*--FIM FOOTER--*/

/* Adicione essa seção no final do seu CSS para a responsividade */

/* Para telas menores que 1200px */
@media (max-width: 1200px) {
    .navbar-nav {
        margin-left: 50px;
    }
}

/* Para telas menores que 992px */
@media (max-width: 992px) {
    .navbar-top {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }
    .social-link i, .icons i {
        font-size: 20px;
    }
    .logo h2 {
        font-size: 18px;
    }
    .navbar-nav {
        margin-left: 0;
        justify-content: center;
    }
    .nav-link {
        margin-right: 40px;
    }
}

/* Para telas menores que 768px */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0;
        margin-top: 80px;
    }
    .hero-text h1 {
        font-size: 40px;
        margin-right: 0;
    }
    .hero-text h3 {
        font-size: 24px;
        margin-right: 0;
    }
    .hero-text p {
        font-size: 16px;
        margin-right: 0;
    }
    .hero-img img {
        margin-right: 0;
    }
}

/* Para telas menores que 576px */
@media screen and (max-width: 400px) {
    .logo h2 {
      font-size: 16px; /* Redução do tamanho da fonte do logo para telas menores */
    }
  
    .social-link i, .icons i {
      font-size: 16px; /* Redução do tamanho dos ícones para telas menores */
    }
  
    .hero-text h1 {
        font-size: 32px;
    }
    .hero-text h3 {
        font-size: 20px;
    }
    .hero-text p {
        font-size: 14px;
        margin-right: 0;
    }
    .hero-img img {
        height: 300px;
    }
}
