/* CSS PAGINA FALE CONOSCO--------------------------------------------------------*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color:#fcfcfc
}

/* --INICIO NAVBAR 1--*/
.navbar-top {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
    font-size: 16px;
    text-transform: uppercase;
    background: linear-gradient(45deg, brown, black, brown,brown);
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    outline: none;
    margin-left: 30px;
}

@keyframes degrade {
    0%{
        background-position-x: 0%;
    }

    100%{
        background-position: 400%;
    }
}

.icons {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-right: 30px;
}

.icons img {
  width: 18px;
  height: 18px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icons img:hover {
    transform: scale(1.1); 
}

.icons a{
    text-decoration: none;
}

.linha{
    border-top: 1px solid #F7F7F7
}
/*responsive*/
/* Media Query para telas menores */
@media (max-width: 768px) { 
    .logo h2 {
        font-size: 14px; 
        margin-left: 15px;
    }

    .icons img {
        width: 14px;
        height: 14px;
    }

    .navbar-top {
        height: 50px;
        padding: 0 15px;
    }

    .icons {
        gap: 10px;
    }
}
/* --FIM NAVBAR 1--*/

/* --INICIO SECTION-- */
.container-fc {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 30px;
    padding-right: 150px;
    margin-bottom: 70px;
}

.title-contact {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.fields {
    margin-bottom: 20px;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: brown;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 95%;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #cdcdcd;
}

button {
    background-color: brown;
    border-radius: 100px;
    color: #fff;
    width:500px;
    height: 40px;
    border: none;
    cursor: pointer;
    margin-bottom: 60px;
}
button:hover{
    transform: scale(1.010);
    cursor: pointer;
    background-color: black;
}
/*responsive*/
@media screen and (max-width: 767px) {
    .container-fc {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    button {
        margin-bottom: 10px;
    }
}
/* --FIM SECTION-- */



.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}
  
.grid-item1 {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
   
}

.title-help {
    font-size: 20px;
    font-weight: 600;
}

.title-2{
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 7px;
    color: brown;
}

.title-3{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2px;
}

.title-4{
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 12px;
}

.social-links2 a {
    text-decoration: none;
}

/* rensponsive */
@media screen and (max-width: 767px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-item2 {
        padding: 20px;
    }

    button {
        width: 100%;
    }

    .container-fc {
        padding-right: 0;
    }
}


/* LINE */

.linha-separadora {
  border: none;
  border-top: 1px solid #efefef;
  width: 90%;
  margin: 20px auto;
}

/* --INICIO FOOTER-- */
.row{
	display: flex;
	flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}

ul{
	list-style: none;
}

.footer{
    padding: 40px 10px;
}

.footer-col{
   padding: 0 35px;
}

.footer-col h4{
	font-size: 16px;
    font-weight: 600;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: brown;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 14px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #a7a7a7;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #000000;
	padding-left: 8px;
}

.footer-col .social-links2 a{
	font-size: 20px;
    cursor: pointer;
    display: inline-block;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 50px;
	color:#a7a7a7;
	transition: all 0.5s ease;
    text-decoration: none;
}

.footer-col .social-links2 a:hover{
	color: brown;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}

/*--FIM FOOTER--*/

/* Responsive */

